.interest-container {
    width: 25%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.interest-photo {
    width: 90%;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}